---
layout: default
---

<article>
  <h2>{{ page.title }}</h2>
  <time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
  
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    <a href="{{site.baseurl}}/categories/{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}

  {{ content }}
</article>

<div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="56b55e91-0467-43a7-a3f1-3b742ff640c3"
  data-page-id="{{ PAGE_ID }}"
  data-page-url="{{ PAGE_URL }}"
  data-page-title="{{ PAGE_TITLE }}"
></div>
<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>
